<div style="height: 300px;overflow-y: scroll;border:solid black">
	<table class="table">
		<thead class="thead-dark">
			<tr>
			<th scope="col">ID</th>
			<th scope="col">{NOMBRE}</th>
			</tr>
		</thead>
		<tbody>
			{ROWS}
		</tbody>
	</table>
</div>