    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Nosotros
        <!--<small>Subheading</small>-->
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.php">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Nosotros</li>
      </ol>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="http://www.numt.com/wp-content/uploads/2014/07/11.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h2>Acerca de nosotros</h2>
          <p>Somos una empresa Uruguaya, joven, dedicada 100% a los emprendedores. Siempre innovando, identificando necesidades, o nichos de mercado sin explorar. Vimos que ademas de formar una empresa, podiamos ayudar a otros emprendedores. Hoy en dia nuestro principal negocios es, The3be, uniendo lo que aun nos define como pais, lo artesanal, hecho en casa, el alfajor de Mamá, la Pastafrola de la Tía, las rejas de Mario y porque no las ideas de Alberto?.</p>
          <p>Confiamos en que estamos brindando el servicio que se merece la mano de obra Uruguaya, apostando a mejorar las vias y ayudar a mas personas a cumplir sus sueños, desde el equipo de The3be, deseamos que cada emprendedor asi como tambien cada comprador, se vaya no solo satisfecho por su venta/compra, sino que ademas, orgulloso. Porque no es un producto mas, es un producto hecho en casa.</p>
          
        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members -->
      <h2>Nuestro equipo</h2>

      <div class="row">
        <div class="col-lg-3 mb-3">
          <div class="card text-center">
            
            <div class="card-body">
              <h4 class="card-title">John</h4>
              <h6 class="card-subtitle mb-2 text-muted">Desarrollo</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">john.gallo1994@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="card text-center">
            
            <div class="card-body">
              <h4 class="card-title">Matias</h4>
              <h6 class="card-subtitle mb-2 text-muted">DBA</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">matiasgazzani@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="card text-center">
            
            <div class="card-body">
              <h4 class="card-title">German</h4>
              <h6 class="card-subtitle mb-2 text-muted">Infraestructura</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">gnpjoestar@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="card text-center">
            
            <div class="card-body">
              <h4 class="card-title">Jorge</h4>
              <h6 class="card-subtitle mb-2 text-muted">Documentacion</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">jorgegonzalez.csi@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
