
	<style type="text/css">
		.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 999px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		background: red;
		cursor: inherit;
		display: block;
	}
	input[readonly] {
		background-color: white !important;
		cursor: text !important;
	}
	</style>

		<!-- Datos del nuevo Producto -->
		<div class="container-fluid btn-group bgwhite p-t-35 p-b-80" style="padding:2%">
			<div class="col-sm-6 p-0" >
					<output id="list" style="height: 100%;width: 100%;">
						<img src="views/html/images/product-detail-03.jpg" class="col-sm-6 p-0" alt="IMG-PRODUCT" style="height: 100%;max-width: 100%;" onclick="$('#picture').click();">
					</output>
			</div>
			<div class="col-sm-6">									

				<form method="POST" action="index.php" enctype="multipart/form-data">
					<span>
						<p>Nombre</p>
						<input type="hidden" name="addProduct">
						<input type="hidden" name="idUser" value="{IDUSER}">
						<input type="text" id="name" name="name" placeholder="2x1 Pizza Muzarella" class="form-control" required>
						<p>Precio</p>
						<input type="number" id="price" name="price" min="0" placeholder="244" class="form-control" required>
						<p>Cantidad</p>
						<input type="number" id="quantity" name="quantity" min="0" placeholder="20" class="form-control" required>
						<p>Categoria</p>
						<select class="form-control" id="category" name="category" required>
							<option value="" disabled selected>--Seleccione Categoria--</option>
							{CATEGORIAS}
						</select>
						<p>Tipo</p>
						<select class="form-control" id="type" name="type" required>
							<option value="" disabled selected>--Seleccione Tipo--</option>
							<option value="OFERTA">OFERTA</option>
							<option value="VENTA">VENTA</option>
							<option value="DESCUENTO">DESCUENTO</option>
						</select>
						<p>Valido desde</p>
						<input type="date" id="start" name="start" class="form-control" required>
						<p>Valido hasta</p>
						<input type="date" id="end" name="end" class="form-control" required>
						<p>Retirar en:</p>
						<select class="form-control" id="local" name="local" required>
							<option value="" disabled selected>--Seleccione Local de Retiro--</option>
							{LOCALES}
						</select>
					<div class="wrap-dropdown-content active-dropdown-content">
						<div class="dropdown-content dis-none p-t-15 p-b-23">
							<p class="s-text8">
								<textarea class="form-control" rows="5" id="description" name="description" placeholder="ej: Llevandolo antes de las 22:00, te regalamos el refresco!!"></textarea>
							</p>
						</div>
						<div class="input-group" style="display: none;">
						    <span class="btn btn-file" style="background-color: black; color: white;font-size: 12px;">Subir una Foto<input data-url="/upload" accept="image/jpeg" type="file" id="picture" name="picture" required ></span>
						</div>
					</div>
					<div class="p-t-33 p-b-60">									
						<br>
						<!-- Button -->
						<button class="btn btn-danger">
							Publicar Producto
						</button>

					</div>
				</form>
			</div>
			</div>
		</div>
