
    <div id="wrapper">



      <div id="content-wrapper" style="padding-top: 2%">

        <div class="container-fluid">

          <!-- Breadcrumbs
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>-->

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">{NUM_PURCHASE} Ventas por reseñar</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="index.php?viewMyPurchase">
                  <span class="float-left">Ir a Mis Compras</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">11 Productos Publicados!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">Ver mis Productos</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                  </div>
                  <div class="mr-5">{NUM_SALES} Nuevos Pedidos!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="index.php?viewMySale">
                  <span class="float-left">Ir a Mis Ventas</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-life-ring"></i>
                  </div>
                  <div class="mr-5">13 New Tickets!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header" data-toggle="collapse" data-target="#graficas" aria-expanded="true" aria-controls="collapseOne">
              <i class="fas fa-chart-area"></i>
              Estadisticas</div>
            <div class="card-body collapse" id="graficas">
              {GRAFIC1}
              {GRAFIC2}
              {GRAFIC3}
              {GRAFIC4}
            </div>
            <div class="card-footer small text-muted" id="update-time">Ultima actualizacion: Ahora</div>
          </div>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header" data-toggle="collapse" data-target="#Tabla" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fas fa-table"></i>
              Registro de Ventas</div>
            <div class="card-body collapse" id="Tabla">
              <span class="badge badge-success">Concretadas</span>
              <span class="badge badge-warning">En proceso</span>
              <span class="badge badge-info">Esperando reseña</span>
              <span class="badge badge-secondary">Canceladas</span>

              <div class="table-responsive" id="tabla">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th style="text-align: left;">ID</th>
                      <th style="text-align: left;">Producto</th>
                      <th style="text-align: left;">Fecha</th>
                      <th style="text-align: left;">Precio</th>
                      <th style="text-align: left;">Comprador</th>
                      <th style="text-align: left;">mail</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {TABLA}
                    
                    

                  </tbody>
                </table>
                
              </div>
            </div>
            <div class="card-footer small text-muted" id="update-time2">Ultima actualizacion: Ahora</div>
          </div>

        </div>
        <!-- /.container-fluid -->

  


      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

