<!-- <div class="col-lg-6">
		<a id="link" href=index.php?ProductById={ID_PRODUCTO}" style="box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.6)">
			<img class="img-fluid rounded" src="views/html/images/{IMG_PRODUCTO_SEMANA}" alt="{NOMBRE_PRODUCTO_SEMANA}" style="height: 100%;width: 600px">
		</a>
		<a href=index.php?ProductById={ID_PRODUCTO}">
		<div class="carousel-caption d-none d-md-block" style="color: rgba(255,0,0,0.8);">
				<h1>
					El destacado de la
				</h1>

				<h1 style="color: red; width: 100%;height: 100%;">
					Semana
				</h1>

				<p>
					{NOMBRE_PRODUCTO_SEMANA}
				</p>			
				<p>
					$ {PRECIO_PRODUCTO_SEMANA}
				</p><br><br><br><br>
		</div></a>
</div>
 -->
 <div class="col-lg-6 p-0" style="box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.6);border-radius:0 5% 5% 0;overflow: hidden;">
		<a id="link" href="index.php?ProductById={ID_PRODUCTO}" class=" img-hover"><img class="img-fluid rounded" src="views/html/images/{IMG_PRODUCTO_SEMANA}" alt="{NOMBRE_PRODUCTO_SEMANA}"  style="height: 100%;width: 100%"></a>
		<a href="index.php?ProductById={ID_PRODUCTO}">
			<div class="carousel-caption d-none d-md-block" style="color: rgba(255,0,0,0.8);">
			
			<input id="date_end" type="hidden" value="{DATE_END}">
			<h1 style="background-color: rgba(0,0,0,0.8);border-radius: 10px 10px 0 0 ;margin: 0;">
			El destacado de la<br> Semana	
			</h1>
			<p style="background-color: rgba(0,0,0,0.8);margin: 0;">

			{NOMBRE_PRODUCTO_SEMANA}
			</p>

			<p style="background-color: rgba(0,0,0,0.8);border-radius: 0 0 10px 10px ;margin: 0;">
			$ {PRECIO_PRODUCTO_SEMANA}
			</p><br><br><br><br><br>
			
		</div></a>
</div>

