<div class="col-lg-4 mb-4" style="box-shadow: 25px 15px 15px 0px rgba(0,0,0,0.5);transform: rotateY(-35deg);padding: 0;margin:15">
  <div class="card h-100 border-warning">
    <h4 class="card-header"><a href="index.php?ProductByCategory={ID_CATEGORIA}">{CATEGORIA}</a></h4>
    <div class="card-body img-hover" style="padding: 0">
      <a href="index.php?ProductByCategory={ID_CATEGORIA}&nameCategory={CATEGORIA}"><img src="views/html/images/{IMG_PRODUCTO}" style="width: 100%;height: 300px; object-fit: cover;" alt="{NOMBRE_PRODUCTO}"></a>
    </div>

  </div>
</div>