<div class="header-wrapicon2">
	<i class="fa fa-shopping-cart fa-3x header-icon1 js-show-header-dropdown"></i>
	<span class="header-icons-noti">{CANTIDAD_EN_CARITO_MOBILE}</span>

	<!-- Header cart noti -->
	<div class="header-cart header-dropdown">
		<ul class="header-cart-wrapitem">
			{CARRITO_MOBILE}								
		</ul>

		<div class="header-cart-total">
			Total: ${TOTAL_CARRITO_MOBILE}
		</div>

		<div class="header-cart-buttons">
			<form method="GET" action="index.php">
				<input type="hidden" id="Cart" name="Cart">
				<input type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" value="Finalizar Compra"" style="width: 160px;">
			</form>
		</div>
	</div>
</div>