	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(views/html/images/heading-pages-01.jpg);">
	</section>

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container" style="width: 100%">
			<div class="container-table-cart pos-relative">
				<div class="table-responsive">					
					<table class="table" style="font-size: 19px; text-align: center;">
						<thead>
							<tr>
								<td></td>
								<td>Nombre</td>
								<td>Costo</td>	
							</tr>
						</thead>

						<tbody>
							{ELEMENTOS_DEL_CARRITO}
						</tbody>
					</table>
				</div>
			</div>

			<div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm" >
				<div class="size10 trans-0-4 m-t-10 m-b-10" style="text-align: center;  margin: 0 auto;">
					<span class="m-text12 w-size10 w-full-sm">
						Total a Pagar:
					</span>
					<span class="m-text21 w-size10 w-full-sm">
						${TOTAL_CARRITO}
					</span>					
				</div>
				<div class="size10 trans-0-4 m-t-10 m-b-10" style=" margin: 0 auto; margin-top: 10px;">
					<!-- Button -->
					<form method="GET" action="index.php" id="purchase" name="purchase">
						<input type="hidden" id="idUser" name="idUser" value="{IDUSER}">
						<input type="hidden" id="cantCarrito" name="cantCarrito" value="{CANTIDAD_EN_CARITO}">
						<input type="hidden" id="endPurchase" name="endPurchase">
						<input type="button" class="btn btn-success" value="Confirmar y Pagar" style="width: 100%;" onclick="confirmEndPurchase();">
					</form>
				</div>
			</div>
		</div>
	</section>