<tr>
	<td>
		<div class="cart-img-product b-rad-4 o-f-hidden" onclick="dellProductCart('{ID_PRODUCTO}','{NOMBRE_PRODUCTO}')">
			<img src="views/html/images/{IMG_PRODUCTO}" alt="{NOMBRE_PRODUCTO}" style="width: 128px;height: 128px;">
		</div>
	</td>
	<td>
		<a href="index.php?ProductById={ID_PRODUCTO}" style="font-size: 19px;">{NOMBRE_PRODUCTO}</a>
	</td>
	<td>
		${PRECIO_PRODUCTO}
	</td>
</tr>