<div class="dropdown-item" style="display:inline-block;">
	<div class="imagen">
		<img src="views/html/images/{IMG}" class="image" alt="{IMG}" style="width:64px;height: 64px;">
		<div class="dellete-product" onclick="dellProductCart('{ID}','{NOMBRE}')">
		x
		</div>
	</div>
	<a href="index.php?ProductById={ID}">{NOMBRE}</a>
		<span>${PRECIO}</span>
</div>
