
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-shopping-cart fa-1x header-icon1 js-show-header-dropdown"></i>
	<span class="header-icons-noti">{CANTIDAD_EN_CARITO}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog" style="width: 400px">
    <div style="max-height: 400px;overflow-y: scroll;">	
    	{CARRITO}
    </div>
    <a class="dropdown-item" href="#">
    	<form method="GET" action="index.php">
			<input type="hidden" id="Cart" name="Cart">
			<input type="submit" class="btn btn-warning" value="Finalizar Compra">
			<b style="padding-left: 60px">Total: ${TOTAL_CARRITO}</b>
		</form>
    </a>
  </div>
</li>