

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Cantactenos
     
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.php">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Contacto</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=60&hl=es&coord=-34.8975,-56.1644&q=Obelisco%20a%20los%20Constituyentes%20de%201830+(The3Be%E2%80%A2)&ie=UTF8&t=&z=16&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Datos de contactos</h3>
          <p>
            
            <br>Vázquez 1386, 11200 Montevideo
            <br>
          </p>
          <p>
            <abbr title="Telefono">T</abbr>: 2400 8761
          </p>
          <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:threebeses@gmail.com">threebeses@gmail.com
            </a>
          </p>
          <p>
            <abbr title="Horario">H</abbr>: Lunes - Lunes: 9:00 AM to 9:30 AM
          </p>
        </div>
      </div>
      <!-- /.row -->

      <!-- Contact Form -->
      <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Envianos un mensaje</h3>
          <form name="sentMessage" id="formContact" novalidate>
            <div class="control-group form-group">
              <div class="controls">
                <label>Nombre Completo:</label>
                <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Por favor ingrese un nombre valido">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Numero de contacto:</label>
                <input type="tel" class="form-control" name="phone" id="phone" required data-validation-required-message="Por favor ingrese un numero de telefono valido">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email:</label>
                <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Por favor ingrese un email valido.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Mensaje:</label>
                <textarea rows="10" cols="100" class="form-control" name="message" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
              </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button onclick="sendContactMail();" class="btn btn-primary" id="buttonSendMailContact">Enviar Mensaje</button>
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->