<div class="col-md-6" style="float:left;">
<var id="nombres" value="{nombre}" style="display: none;">{nombre}</var>
<var id="valores" value="{datos}" style="display: none;">{datos}</var>
<canvas class="line-chart" id="myChart{n}" style="background-color: rgba(255,255,255,1);height: 500px"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart{n}").getContext('2d');
var nombre=document.getElementById("nombres").innerHTML;
var valores=document.getElementById("valores").innerHTML;
 
var myChart = new Chart(ctx, {
    type: '{type}',
    data: {
        labels: {nombre},
        datasets: [{data}]
    },
    options: {
        title: {
            display: true,
            text: '{title}'
        },
        responsive:true,
        
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>