    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('views/html/images/master-slide-01.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="masthead-heading mb-0"><paragrap style="background-color: rgb(255, 87, 51); padding:10px;border-radius: 15px ">Nuevos Productos</paragrap></h1>
                <a href="index.php?Productos" class="btn btn-danger btn-xl rounded-pill mt-5">Ver Ahora!!</a>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('views/html/images/master-slide-03.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="masthead-heading mb-0"><paragrap style="background-color: rgb(255, 87, 51); padding:10px;border-radius: 15px ">No te los podes PERDER!!</paragrap></h1>
                <a href="index.php?Productos" class="btn btn-danger btn-xl rounded-pill mt-5">Ver Ahora!!</a></h1>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('views/html/images/master-slide-05.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="masthead-heading mb-0"><paragrap style="background-color: rgb(255, 87, 51); padding:10px;border-radius: 15px ">Nuevos Productos</paragrap></h1>
                <a href="index.php?Productos" class="btn btn-danger btn-xl rounded-pill mt-5">Ver Ahora!!</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Bienvendido a nuestra tienda</h1>

      <!-- Marketing Icons Section -->
      <div class="row" >
        {PRODUCTOS_DESTACADOS_POR_CATEGORIA}
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Los Mas Vendidos</h2>

      <div class="row">
        {PRODUCTOS_DESTACADOS}
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        
          {PRODUCTO_DESTACADO_POR_VENCER}          
        
        
          {PRODUCTO_DESTACADO_DE_LA_SEMANA}          

      </div>
      <!-- /.row -->

      <hr>

      
    </div>
    <!-- /.container -->