	<div class="modal fade" id="Login" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content" style="padding:40px 50px;background-color: rgba(255,255,255,0.8);">		       
	            <img id="profile-img" class="profile-img-card" src="views/html/images/icons/logo.png" style="width: 100%;">
	            <p id="profile-name" class="profile-name-card"></p>
	            <form class="form-signin"method="POST" action="index.php">

	    			<input type="hidden" id="loginUser" name="loginUser">

	                <span id="reauth-email" class="reauth-email"></span>

	                <input type="email" id="maill" name="maill" class="form-control p-2" placeholder="Email" required>

	                <input type="password" id="passl" name="passl" class="form-control p-2" placeholder="Contraseña" required>

	                <button class="btn btn-lg btn-danger btn-block btn-signin" type="submit">ENTRAR</button>
	            </form>
	            <a href="#" onclick="register();"> Registrarme</a>				           
		</div>
	</div>
</div>

<div class="modal fade" id="RegistrarUsuario" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content" style="padding:40px 50px;background-color: rgba(255,255,255,0.8);">		       
		    <img id="profile-img" class="profile-img-card" src="views/html/images/icons/logo.png" style="width: 100%;">
		    <p id="profile-name" class="profile-name-card"></p>
		    <form class="form-signin" method="POST" action="index.php" id="registerUser">

		    	<input type="hidden" id="addUser" name="addUser">

		        <span id="reauth-email" class="reauth-email"></span>

		        <input type="text" class="form-control" id="name" name="name" placeholder="Juan Gomez" required>

		        <input type="email" id="mail" name="mail" class="form-control" placeholder="ejemplo@ejemplo.com" required>

		        <input type="password" id="pass" name="pass" class="form-control" placeholder="Contraseña" required>

		        <input type="password" id="repeat-pass" name="repeat-pass" class="form-control" placeholder="Repetir Contraseña" required>

		        <button class="btn btn-lg btn-danger btn-block btn-signin" type="button" onclick="checUserRegister();" >REGISTRAR</button>
		        <a href="#" onclick="retornar();">Ya tienes cuenta?</a>
		    </form>				           
		</div>
	</div>
</div>