<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
    <tr>
        <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                <tr>
                    <td>
                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                            class="container590">
                            <tr>
                                <td align="center">
                                    <a href="" style=" border-style: none !important; border: 0 !important;">
                                        <img src="cid:{IMG_PRODUCTO}" style="display: block; width: 280px;" width="280" border="0" alt="" /></a>
                                </td>
                            </tr>
                        </table>
                        <table border="0" width="5" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                            class="container590">
                            <tr>
                                <td width="5" height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                            </tr>
                        </table>
                        <table border="0" width="260" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                            class="container590">
                            <tr>
                                <td align="left" style="color: #3d3d3d; font-size: 22px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                                    class="align-center main-header">
                                    <div style="line-height: 35px">
                                        {NOMBRE_PRODUCTO}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="15" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <table border="0" align="left" cellpadding="0" cellspacing="0" class="container590">
                                        <tr>
                                            <td align="center">
                                                <table align="center" width="40" border="0" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                                                    <tr>
                                                        <td height="2" style="font-size: 2px; line-height: 2px;"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="15" style="font-size: 12px; line-height: 12px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;"
                                    class="align-center">
                                    <div style="line-height: 24px">
                                        Vendedor: {NOMBRE_VENDEDOR}<br/>
                                        Tel.: {TELEFONO_VENDEDOR}<br/>
                                        Email: {EMAIL_VENDEDOR}<br/>
                                        Direccion: {DIRECCION_VENDEDOR}<br/>
                                        Horario: {HORARIO_VENDEDOR}<br/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <table border="0" align="left" cellpadding="0" cellspacing="0" class="container590">
                                        <tr>
                                            <td align="center">
                                                <table border="0" align="center" width="120" cellpadding="0" cellspacing="0" style="border: 1px solid #eeeeee; ">
                                                    <tr>
                                                        <td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="color: #5caad2; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 20px;">
                                                            <div style="line-height: 20px;">
                                                                <a href="http://patito3be.hopto.org/index.php?ProductById={ID_PRODUCTO}" style="color: #5caad2; text-decoration: none;">Ver Detalles</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="8" style="font-size: 8px; line-height: 8px;">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
    </tr>
</table>