<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Mis Favoritos</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.php?Productos">Todos</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="index.php?viewMyFavorite">Favoritos</a>
    </li>

  </ol>

  <div class="row">
   {TODOS_LOS_PRODUCTOS}
  </div>
</div>
    <!-- /.container -->