<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">Mis Ventas</h1>



		<section>
			<div class="container-fluid" style="width: 100%">
				<div class="col-xs-14 col-md-12" style="font-size: 13px;">    
					<table class="table">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col" style="text-align: left;">IMG</th>
					      <th scope="col" style="text-align: left;">Codigo</th>
					      <th scope="col" style="text-align: left;">Nombre</th>
					      <th scope="col" style="text-align: left;">Fecha</th>
					      <th scope="col" style="text-align: left;">Cliente</th>
					      <th scope="col" style="text-align: left;">Costo</th>
					      <th scope="col" style="text-align: left;"></th>
					    </tr>
					  	</thead>
					  	<tbody>
							{MIS_VENTAS}               
						</tbody>
					</table>
				</div>
			</div>
		</section>

</div>
    <!-- /.container -->
