	<section class="container">
			<div style="padding-top: 5%">
				<h2>Error</h2>

				<h4 style="padding-top: 2%">
					Estimado cliente, le pedimos disculpas, momentaneamete estamos teniendo dificultades tecnicas, agradecemos su comprension, en breves minutos estaremos solucionando los inconvenientes, le sugerimos intentar mas tarde.
				</h4>

				<p style="padding-top: 2%">Saludos desde el equipo de The3be!!</p>
			</div>
	</section>