<tr>
	<td>
		<div class="header-cart-item-img">
			<img src="views/html/images/{IMG_PRODUCTO}" alt="{NOMBRE_PRODUCTO}" style="height: 128px;width: 128px">
		</div>
	</td>

    <td>{CODIGO_PRODUCTO}</td>
    <td>{NOMBRE_PRODUCTO}</td>
    <td>{VENCIMIENTO}</td>
    <td>{CLIENTE}</td>
    <td>{COSTO}</td>
    <td style="text-align: center; font-size: 23px;">
    	<i class="fas fa-check" onclick="closeSales('{ID_VENTA}');"></i>
    </td>
</tr>