<tr class="{class}">
	<td>
		<!--<div class="header-cart-item-img" style="background-color: rgba(0,0,0,0.6);" onclick="dellPurchase('{ID_COMPRA}','{NOMBRE_PRODUCTO}','{ESTATUS_COMPRA}')">-->
        <div class="imagen" style="height: 128px;width: 128px" >
			<img src="views/html/images/{IMG_PRODUCTO}"  class="image" alt="{NOMBRE_PRODUCTO}"  style="height: 128px;width: 128px">
		<div class="dellete-product" style="height: 128px;width: 128px" onclick="dellPurchase('{ID_COMPRA}','{NOMBRE_PRODUCTO}','{ESTATUS_COMPRA}')">
        <h1>x</h1>
        </div>
        </div>
	</td>

    <td>{ID_COMPRA}</td>
    <td><a href="index.php?ProductById={ID_PRODUCTO}">{NOMBRE_PRODUCTO}</a></td>
    <td>{VENCIMIENTO}</td>
    <td>{CLIENTE}</td>
    <td>{COSTO}</td>
    <td style="text-align: center; font-size: 23px;">
    	<i class="fas fa-check" onclick="closePurchase('{ID_PRODUCTO}','{IDUSER}','{ID_COMPRA}','{ESTATUS_COMPRA}');" title="PENDIENTE DE TUS COMENTARIOS"></i>
    </td>
</tr>
