  
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Detalle del Producto
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.php?Productos">Todos</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="index.php?ProductByCategory={ID_CATEGORY}&nameCategory={CATEGORIA}">{CATEGORIA}</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="index.php?ProductByType={TIPO_PRODUCTO}">{TIPO_PRODUCTO}</a>
        </li>
        <li class="breadcrumb-item active">{NOMBRE}</li>
      </ol>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="views/html/images/{IMG_PROD}" alt="IMG_PROD-PRODUCT">
        </div>

        <div class="col-md-4">
          <h1 class="my-3">{NOMBRE}</h1>
          <p>${PRECIO}</p>
          <span class="m-text17">
            <div id="stars" style="display: inline-block;font-size: 25px">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>      
          </span>
          <p>
          <form id="{ID}" name="{ID}">
            <input type="hidden" id="idUser" name="idUser" value="{IDUSER}">
            <input type="hidden" id="user_ID" value="{USER_ID}">
            <input type="hidden" id="id" name="id" value="{ID}">
            <input type="hidden" id="name" name="name" value="{NOMBRE_PRODUCTO}">
            <input type="hidden" id="price" name="price" value="{PRECIO_PRODUCTO}">
            <input type="hidden" id="img" name="img" value="{IMG_PRODUCTO}">
            <input type="button" id="ButtonAdd" class="btn btn-dark" value="Agregar a mi Compra" onclick="addToCart('{ID}');" style="width: 260px;display:none"> 
          </form>
          </p>
          <input type="hidden" id="avg" name="avg" value="{ESTRELLAS}">
          <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Descripcion
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  {DESCRIPCION}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Reseña
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  {RESENA}
                </div>
              </div>
            </div>
          
          </div>
        </div>   
      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Productos recomendados</h3>

      <div class="row">
        {PRODUCTOS_SIMILARES}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
