<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Productos
  
    <div >

        <form action="index.php" class="form-inline" method="GET">
          <input type="hidden" name="Productos" value="">
          <input class="form-control" type="text" name="name" {BUSCAR}>
          <button class="btn btn-outline-info" type="submit">
            <i class="fs-12 fa fa-search" aria-hidden="true"></i>
          </button>  
          <a class="btn btn-outline-warning" data-toggle="modal" data-target="#advancedsearch">
            <i class="fas fa-filter" aria-hidden="true"></i>
          </a>                
        </form>
           

    </div>    
  </section>

  <!-- Modal -->
  <div class="modal fade" id="advancedsearch" tabindex="-1" role="dialog" aria-labelledby="advancedsearch" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="display: flex;justify-content: center;align-content: center;flex-direction:column;vertical-align: middle; padding:0 10% 0 10%;">
          <form action="index.php" method="GET" class="form-horizontal">
              <div class="form-group">
                <h4 class="modal-title" id="advancedsearch" style="margin-top:10%"><b>Busqueda Avanzada</b></h4>
            <input type="hidden" id="Productos" name="Productos" value="">
          </div>
          <div class="form-group">
            <h5><label>Nombre:</label></h5>
            <input class="form-control" type="text" name="name" {BUSCAR}>
          </div>
          <input type="hidden" id="price_min" name="price_min" value="-1">
          <div class="form-group">
            <h5><label>Hasta:</label>         </h5>
            <input class="bar" type="range" id="price_max" name="price_max" value="-1" onmousemove="price_min.value=0;rangevalue.value='$'+value" min="-1" max="10000"/>
            <span class="highlight"></span>
            <h5><output id="rangevalue">$U0</output></h5>
          </div>
          <div class="form-group">
            <h5><label>Tipo:</label>  </h5>
            <select id="ProductByType" name="ProductByType" class="form-control">
              <option value="-1" disabled selected>--</option>
              <option value="VENTA">Venta</option>
              <option value="DESCUENTO">Descuento</option>
              <option value="OFERTA">Oferta</option>  
            </select>
          </div>
          <div class="form-group">
            <h5><label>Categoria:</label></h5>
            <input type="hidden" id="nameCategory" value="Todos" name="nameCategory">
            <select id="category" name="ProductByCategory" class="form-control" onchange="$('#nameCategory').val($(this).find('option:selected').text())">
              <option value="-1" disabled selected>--</option>
              {CATEGORIAS}  
            </select>
          </div>
          <div class="form-group">
            <button type="submint" class="btn btn-primary">Aplicar Filtros</button>   
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
       </div>
      </div>
    </div>
  </div>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.php?Productos">Todos</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="index.php?ProductByCategory={ID_CATEGORY}&nameCategory={CATEGORIA}">{CATEGORIA}</a>
    </li>
    <li class="breadcrumb-item active" style="{STYLE}">
    </li>
      <a href="index.php?ProductByType={TIPO_PRODUCTO}">{TIPO_PRODUCTO}</a>
    
  </ol>

  <div class="row">
    {TODOS_LOS_PRODUCTOS}
  </div>
</div>
    <!-- /.container -->