<div class="col-lg-6 p-0" style="box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.6);border-radius: 5% 0 0 5% ;overflow: hidden;">
		<a id="link" href="index.php?ProductById={ID_PRODUCTO_POR_VENCER}" class="img-hover"><img class="img-fluid rounded" src="views/html/images/{IMG_PRODUCTO_POR_VENCER}" alt="{NOMBRE_PRODUCTO_POR_VENCER}"  style="height: 100%;width: 100%"></a>
		<a href="index.php?ProductById={ID_PRODUCTO_POR_VENCER}">
			<div class="carousel-caption d-none d-md-block" style="color: rgba(255,0,0,0.8);">
			
			<input id="date_end" type="hidden" value="{DATE_END}">
			<h1 style="background-color: rgba(0,0,0,0.8);border-radius: 10px 10px 0 0 ;margin: 0;">
			No queda mucho tiempo apurate!
			</h1>
			<p style="background-color: rgba(0,0,0,0.8);margin: 0;">
			{NOMBRE_PRODUCTO_POR_VENCER}
			</p>

			<p style="background-color: rgba(0,0,0,0.8);border-radius: 0 0 10px 10px ;margin: 0;">
			$ {PRECIO_PRODUCTO_POR_VENCER}
			</p><br><br><br><br>
			<h4><span style="background-color: rgba(0,0,0,0.8);border-radius: 10px;width: 25%;padding: 10px">
			<span id="dias" class="m-text10 p-b-1" style="color: white;">
			--
			</span>

			<span class="s-text5">
			dias
			</span>
		
			<span id="hora" class="m-text10 p-b-1" style="color: white;">
			--
			</span>

			<span class="s-text5">
			horas
			</span>
			<span id="min" class="m-text10 p-b-1" style="color: white;">
			--
			</span>
			<span class="s-text5">
			min
			</span>

			<span  id="seg" class="m-text10 p-b-1" style="color: white;">
			--
			</span>

			<span class="s-text5">
			seg
			</span>
			</span></h4>
		</div></a>
</div>



