<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100 border-info">
    <a href="index.php?ProductById={ID}" class="img-hover"><img class="card-img-top" src="views/html/images/{IMG_PRODUCTO}" style="height: 250px" alt="{NOMBRE_PRODUCTO}"></a>
    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4" style="padding-left:45px;top:10px;z-index:10;right: 10px;position: absolute;"{BOTON_FAVORITO}>
            <i class="{ESTILO_FAVORITO}" aria-hidden="true" onclick="{AGREGAR_SACAR_FAVORITO}" title="{TEXTO_BOTON_FAVORITO}" {BOTON_FAVORITO}></i>
            </a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="index.php?ProductById={ID}">{NOMBRE_PRODUCTO}</a>
      </h4>
      <p class="card-text">
        <form id="{ID}" name="{ID}">
          <input type="hidden" id="idUser" name="idUser" value="{IDUSER}">
          <input type="hidden" id="id" name="id" value="{ID}">
          <input type="hidden" id="name" name="name" value="{NOMBRE_PRODUCTO}">
          <input type="hidden" id="price" name="price" value="{PRECIO_PRODUCTO}">
          <input type="hidden" id="img" name="img" " value="{IMG_PRODUCTO}">

            
        </form>
      </p>
    </div>
    <div class="card-footer text-muted">
      <input type="button" class="btn btn-success" value="Agregar" onclick="addToCart('{ID}');" {MOSTRAR_BOTON}>
    </div>
  </div>
</div>