
     <!--===============================================================================================-->
	<div class="container">
		<h1 class="mt-4 mb-3">Mi Perfil</h1>
	</div>  
	<section class="banner bgwhite p-t-60 p-b-40">
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">Mis Datos</a></li>
				<li style="padding-left: 2%"><a data-toggle="tab" href="#menu1">Mis Locales</a></li>
			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active show">
			       <form class="form-horizontal" style="padding: 2%;" method="POST" action="index.php">
			      		<input type="hidden" id="updateUserData" name="updateUserData">
			      		<input type="hidden" id="id_user" name="id_user" value="{ID_USUARIO}">			      		
			      		<label class="control-label fas fa-user">Nombre:</label>
			      		<input type="hidden" id="nameOld" name="nameOld" value="{NOMBRE_USUARIO}" class="form-control">
			      		<input type="text" id="name" name="name" value="{NOMBRE_USUARIO}" class="form-control">
						<label class="control-label fas fa-envelope">Email:</label>
						<input type="text" id="mail" name="mail" value="{MAIL_USUARIO}" class="form-control" disabled>
						<input type="checkbox" name="vehicle" value="Bike" onclick="allow('pass');allow('repeat_pass')"> Cambiar contraseña<br>
						<label class="control-label fas fa-key">Nueva Contraseña:</label>
						<input type="password" id="pass" name="pass" value="PASS_ACTUAL" class="form-control" disabled>
						<label class="control-label fas fas fa-key">Repetir Contraseña:</label>
						<input type="password" id="repeat_pass" name="repeat_pass" value="PASS_ACTUAL" class="form-control"  disabled>
						<label class="control-label far fas fa-envelope-open">Estado Suscripcion:</label>
						<input type="text" id="sub_state" name="sub_state" value="{SUSCRIPCION_USUARIO}" class="form-control" disabled>
						<label class="control-label"></label>
						
			      		<span class="control-label"></span><input type="button" class="btn btn-success" value="Actualizar mis Datos" onclick="checkDataUser();">
			      		<br><a href="#" onclick="desactivar();">Desactivar mi cuenta</a>

			        </form>
				</div>
				<div id="menu1" class="tab-pane fade in btn-group">
				    	<div class=" form-control btn-group" >
				    		<form class="form-horizontal col-sm-4" style="padding:2%;" method="POST" action="index.php">
					      		<input type="hidden" id="addLocal" name="addLocal">
					      		<input type="hidden" id="idUser" name="idUser" value="{ID_USUARIO}">
					      		<label class="control-label fas fa-certificate">Nombre Local:</label>
					      		<input type="text" id="localName" name="localName" placeholder="Local En Montevideo" class="form-control">
					   			<label  class="control-label fas fa-map-marker">Direccion:</label>
				      			<input type="text" id="autocomplete" name="localAddress" placeholder="18 de Julio 1234 esq. Ejido" class="form-control">
 				      			<label class="control-label fas fa-clock">Horario disponible:</label>
				      			<select id="localSchedule" name="localSchedule" class="form-control">
				      				<option selected disabled>--Seleccione un horario--</option>
				      				<option value="De 09AM a 12AM">De 09AM a 12AM</option>
				      				<option value="De 12AM a 05PM">De 12AM a 05PM</option>
				      				<option value="De 05PM a 09PM">De 05PM a 09PM</option>
				      				<option value="De 09AM a 05PM">De 09AM a 05PM</option>
				      				<option value="Todo el dia">Todo el dia</option>
				      			</select>
				      			<label class="control-label fas fa-mobile-alt">Telefono de Contacto</label>
				      			<input type="text" id="localPhone" name="localPhone" placeholder="091090909" class="form-control">
				      			<span class="control-label"></span>
				      			<input type="submit" class="btn btn-success" value="Agregar Local">
				      		</form>
				    
				    		<div id="map" style="width: 100%;height: 300px"></div>
				    	</div>
				</div>
			</div>
		</div>
	</section>
