<div class="col-md-3 col-sm-6 mb-4">
  <a href="index.php?ProductById={ID}">
    <img class="img-fluid" src="views/html/images/{IMG_PRODUCTO}" alt="{NOMBRE_PRODUCTO}" style="height: 200px;width: 100%">
  </a>
  	<div class="carousel-caption d-none d-md-block">
  		<h5 style="color:red"><a href="index.php?ProductById={ID}">{NOMBRE_PRODUCTO}</a></h5>
    	<a href="index.php?ProductById={ID}" class="btn btn-danger btn-xl rounded-pill mt-5">Ver Ahora!!</a>
	</div>
</div>