<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">IMG</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cliente</th>
      <th scope="col">Costo </th>
    </tr>
  </thead>
  <tbody>
    {TABLA}
  </tbody>
</table>