<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="userTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {USUARIO_LOGADO}<span class="badge badge-secondary" id="contadorGeneral" style="background: rgb(255, 87, 51);width: 18px;height:18px;border-radius: 100%;text-align: center"></span>
  <input type="hidden" id="contador" value="0">
  <input type="hidden" id="contadorp" value="0">
  </a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
		<a class="dropdown-item" href="index.php?viewProfile"><i class="fas fa-user-alt"></i>	Mi Perfil</a>
		<a class="dropdown-item" href="index.php?viewAddProduct"><i class="fas fa-plus"></i>	Publicar un Producto</a>
		<a class="dropdown-item" href="index.php?viewMyFavorite"><i class="fas fa-heart"></i>	Mis Favoritos</a>
		<a class="dropdown-item" href="index.php?viewMySale"><i class="fas fa-money-bill-alt"></i>	Mis Ventas <span class="badge badge-secondary" id="contador2" style="background: rgb(255, 87, 51);width: 18px;height: 18px;border-radius: 100%;text-align: center"></span></a>
		<a class="dropdown-item" href="index.php?viewMyPurchase"><i class="fas fa-cart-arrow-down"></i>	Mis Compras<span class="badge badge-secondary" id="contador3" style="background: rgb(255, 87, 51);width: 18px;height: 18px;border-radius: 100%;text-align: center"></span></a>					
		<a class="dropdown-item" href="index.php?userLogout"><i class="fas fa-sign-out-alt"></i>	Salir</a>
	</div>
</li>