<div class="col-lg-4 mb-4">
  <div class="card h-100">
    
    <div class="card-body">
    	<h4 class="card-header">PRODUCTOS del dia 20% OFF</h4>
     	<p class="card-text">Si queres mas descuentos, entra que hay miles de productos nuevos por dia!</p>
    </div>
    <div class="card-footer">
    	<input type="button" class="btn btn-primary" onclick="login();" value="ENTRAR">
    </div>
  </div>
</div>