/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
  ::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} 

.dellete-product{
    width:64px;
    height: 64px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    vertical-align: middle;

}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  top: 0;
  left:0;
  backface-visibility: hidden;

}
.imagen{
  padding: 0;
  height: 64px;
  width: 64px;
}
.dellete-product {
  transition: .5s ease;
  opacity: 0;
  top: 0;
  left:0;
  transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  text-align: center;
  color:white;
}
.imagen:hover .image {
  opacity: 0.3;
}

.imagen:hover .dellete-product{
  opacity: 1;
}
a{
  color:#E74A29;
}
a:hover{
  text-decoration: none;
}