	.modal-header, .close {
		background-color: white;
		color:white !important;
		text-align: center;
		font-size: 30px;
	}
	.modal-footer {
		text-align: center;
		background-color: #f9f9f9;
	}
	
	th{
		text-align: center;
	}

html {
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}

<<<<<<< HEAD
=======
html::after{
	height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
>>>>>>> b378d012be264cbbfd1514ab8fdd2e94c6322756





 .stars{ color:grey;}
 input[type = "radio"]{ display:none;};
 #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
.stars:hover{color:orange;}
.stars:hover ~ .stars{color:orange;}
input[type = "radio"]:checked ~ .stars{color:orange;}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.stars {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.stars:hover,
.stars:hover ~ .stars {
  color: orange;
}

input[type="radio"]:checked ~ .stars {
  color: orange;
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  -moz-background-color: black;
  border-radius: 5px;
  height: 10px;
  width: 100%;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: rgba(232,76,26,1);
  border:solid rgba(232,76,26,1);
}

#rangevalue {

  position: relative;

  top: -65px;
}






@font-face {
  font-family: "CooperBlack";
  src: url("../fonts/COOPBL.TTF");
}
@media only screen and (min-width: 600px) {
#myDiv:before{
  content: "The3Be";
}

#myDiv{
  content: "The3Be";
  width: 32px;
  font-family: CooperBlack;
  height: 32px;
  font-size: 24px;
  text-align: center;
  border-radius: 100% 100%; 
  margin: -75px 0 0 -75px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  transition-timing-function: linear;
  -webkit-animation: fade 2s linear infinite;
    animation: fade 2s linear infinite;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  color:black;
}
#loader-container{

  position: fixed;
  background:#EEE;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
  width: 100%;
  min-height: 100vh;
  z-index: 1102;
}

#loader {
  content: "The3Be";
  color:black;
    font-family: CooperBlack;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;

    border: 3px solid transparent;
    border-top-color: rgba(240, 67, 29,1);
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;

    border: 3px solid transparent;
    border-top-color: rgba(240, 67, 29,1);
    -webkit-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;

    border: 3px solid transparent;
    border-top-color: rgba(240, 87, 10,1);

    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;

}
@-webkit-keyframes rotate {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
@keyframes fade {
  0% {
    color: rgba(0,0,0,0.2);
    background-color: rgba(228, 54, 15,0.4);
    width: 100px;
    height: 100px;
 
  }
  
  100% {
    color: rgba(0,0,0,1);
    background-color: rgba(228, 54, 15,1);
    width: 100px;
    height: 100px;
   /*transform: rotate(360deg);*/
  }
}

}
.img-hover{
	overflow: hidden;
}
.img-hover img{
	transition: all 0.5s ease;
}
.img-hover:hover img{
    position:relative;


    display:block;
    box-shadow:inset 0px 16px 15px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
    transform: scale(1.3);
    filter:brightness(0.8);
}
.form-control{
  margin-top: 4px;
}